name: Create Fabric ADLS Gen2 Connection

on:
  workflow_dispatch:

jobs:
  create-connection:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install Fabric CLI
      run: |
        pip install ms-fabric-cli
 
    - name: Configure Fabric CLI for CI/CD
      run: |
        fab config set encryption_fallback_enabled true

    - name: Fabric CLI Login (Service Principal)
      run: |
        fab auth login \
          -u ${{ secrets.AZURE_CLIENT_ID }} \
          -p ${{ secrets.AZURE_CLIENT_SECRET }} \
          --tenant ${{ secrets.AZURE_TENANT_ID }}
          
    - name : Get ADLS Gen2 Fabric Connection Params
      run: |
        fab api -X get "connections/supportedConnectionTypes?showAllCreationMethods=true" \
        | jq '.value[]
          | select(.type=="AzureDataLakeStorage")
          | .creationMethods[]
          | {method: .name, parameters: .parameters}'

    - name: Create ADLS Gen2 Fabric Connection
      shell: pwsh
      run: |
        ./scripts/create_adls_connection.ps1 `
          -ConnectionName "vmspdatalake001prod" `
          -TenantId "${{ secrets.AZURE_TENANT_ID }}" `
          -ClientId "${{ secrets.AZURE_CLIENT_ID }}" `
          -ClientSecret "${{ secrets.AZURE_CLIENT_SECRET }}" `
          -StorageAccount "${{ secrets.ADLS_ACCOUNT_NAME }}" `
          -FileSystem "${{ secrets.ADLS_FILESYSTEM }}"